/* global media query - for individual media queries please see individual css files */
@media screen and (min-width: 550px) {
  /* header */
  .search {
    height: 30px;
    font-size: 18px;
  }
  .header_search {
    max-width: 75vw;
    display: flex;
    margin-left: 60px;
  }

  nav li {
    font-size: 22px;
    padding: 30px 50px;
  }
  .breadcrumb {
    font-size: 18px;
  }
  .campaign {
    font-size: 22px;
  }

  /* footer */
  .directory a {
    font-size: 15px;
    margin: 3px 0px;
  }
  .footer_middle {
    font-size: 12px;
  }
  .fa-brands {
    font-size: 40px;
  }
  .socials {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  /* button */
  .button {
    border-width: 3px;
    font-size: 18px;
  }

  /* main */
  .main_content_text,
  h1 {
    margin-top: 50px;
    font-size: 33px;
  }

  .pink_header {
    font-size: 30px;
  }
  .pink_header_small,
  .p_text,
  .form_item label {
    font-size: 20px;
  }
  .item_form {
    width: 300px;
  }
}
@media screen and (min-width: 700px) {
  /* Header */
  .header_top :nth-child(1) {
    order: 1;
  }
  .header :nth-child(2) {
    order: 3;
  }
  .header :nth-child(3) {
    order: 2;
  }
  .header :nth-child(4) {
    order: 4;
  }
  .fa-solid {
    font-size: 8vw;
  }
  .ticket_text {
    display: block;
    font-size: 22px;
  }
  .header label {
    display: none;
  }
  .header_logo {
    margin-left: 10px;
    max-width: 30%;
  }

  .header_top {
    gap: 20px;
    justify-content: space-around;
    align-content: baseline;
    margin-bottom: 30px;
  }
  .header_nav {
    flex-basis: 100%;
    align-content: center;
  }
  .header_nav_items ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .header_nav_items {
    display: inline-block;
    margin: 0%;
    width: 100vw;
    right: 0%;
    padding: 5px 0px;
  }
  nav li {
    font-size: 20px;
    padding: 5px 5%;
  }
  nav .current {
    border-radius: 10px;
  }
  .header_campaign {
    display: none;
  }
  .header_nav_items .current a {
    border-bottom: none;
  }

  .header_breadcrumb ul {
    margin-top: 30px;
  }
  .breadcrumb {
    font-size: 18px;
    text-align: start;
    padding: 0%;
    margin: 5px 40px;
  }
  /* main */
  .main_content_text,
  h1 {
    font-size: 40px;
    margin-top: 30px;
  }
  .main_content_text p {
    font-size: 18px;
  }
  .pink_header {
    font-size: 35px;
  }
  .pink_header_small,
  .p_text,
  .form_item label {
    font-size: 25px;
  }
  .item_form {
    width: 400px;
    min-height: 25px;
  }
  .img_text {
    height: 60vh;
  }
  .img_text_left {
    margin-left: 30px;
  }
  .img_text_right {
    margin-right: 30px;
  }

  /* footer */
  .directory a {
    font-size: 20px;
    margin: 6px 0px;
  }
  .footer_middle {
    font-size: 18px;
  }

  /* button */
  .button {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  /* header */
  .header_logo {
    max-width: 20%;
  }
  .fa-ticket {
    font-size: 5vw;
  }
  nav li {
    font-size: 25px;
    padding: 10px 5%;
  }
  .img_text {
    height: 75vh;
  }
  .pink_header {
    font-size: 50px;
  }
  .p_text {
    font-size: 40px;
  }
  .ticket_container {
    max-width: 1000px;
  }
}
