/* Global styles- for individual styles (main section) see individual css file */

:root,
body {
  margin: 0%;
  padding: 0%;
}
main,
footer {
  /* padding: 20px; */
  padding: 0%;
  margin: 0%;
}

a,
p,
ul {
  font-family: "helvetica", sans-serif;
  text-decoration: none;
  list-style: none;
}
a {
  color: #d2f0fa;
}

h1 {
  font-size: 30px;
  margin-top: 40px;
}
.main_content_text {
  font-family: "baskerville";
  text-transform: uppercase;
  font-style: italic;
  margin: 5px 5px;
  display: flex;
  flex-direction: column;
  color: #faf9ec;
  font-size: 30px;
  text-align: center;
}

/* Gridarea */
header {
  grid-area: header;
  background-color: #000;
}
main {
  grid-area: main;
  background-color: #000;
}

/* change white later */

footer {
  grid-area: footer;
  background-color: #d2f0fa;
}
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Header  */

.header {
  margin: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.header_top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* logo  */

.header_logo {
  margin-left: 10px;
  max-width: 60%;
}
.logo_image {
  width: 100%;
  margin: 10px;
  margin-bottom: 5%;
}

/* ticket */

.header_ticket {
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 10px;
}
.fa-ticket {
  color: #ff82a5;
}
.fa-solid {
  font-size: 15vw;
}
.ticket_text {
  color: #d2f0fa;
  display: none;
}

/* search */
.header_search {
  margin-left: 30px;
  max-width: 80%;
}
.search {
  margin-top: 5%;
  width: 85%;
  height: 20px;
  background-color: #000;
  border: 2px solid #d2f0fa;
  border-radius: 10px;
  text-align: center;
  font-size: smaller;
}

/* hamburger menu */
.fa-bars {
  color: #d2f0fa;
}

.header #hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav {
  display: none;
  position: absolute;
  top: inherit;
  background: #d2f0fa;
  z-index: 1000;
  right: 1%;
  border: 1px solid #000;
  border-radius: 5px;
}
.header_nav {
  margin-right: 20px;
}

nav li {
  font-size: 15px;
  display: block;
  padding: 20px 30px;
}
nav li a {
  color: #000;
  border-bottom: hidden;
  width: auto;
}

.header_nav_items {
  display: none;
}
.header_nav_items ul {
  padding: 0%;
  margin: 0%;
}

nav .current {
  background-color: #000;
  border: 1px solid #d2f0fa;
}
.current a {
  color: #d2f0fa;
  border-bottom: 1px solid #d2f0fa;
}

/* breadcrumb & campaign  */
.header_breadcrumb {
  border: 1px #d2f0fa;
  border-style: solid none;
  margin-top: 10px;
  padding: 5px 0px;
}
.breadcrumb {
  font-size: smaller;
  padding: 0%;
  margin: 0% 20px;
}
.breadcrumb ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  text-align: start;
}
.breadcrumb li {
  display: inline-block;
  color: #d2f0fa;
}
.header_campaign {
  text-align: center;
  background-color: #d2f0fa;
  padding: 5px 0px;
  margin: 0%;
}
.campaign {
  color: #000;
  font-size: 18px;
}

/* main section */

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* main text */
.pink_header {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 100;
  font-size: 22px;
  color: #ff82a5;
  text-transform: capitalize;
  margin: 20px 0px 15px 0px;
}
.pink_header_small {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #ff82a5;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.p_text {
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #d2f0fa;
  margin: 5px 0px;
}
/* main form */
.form_item {
  margin-top: 10px;
}
.form_item label {
  color: #d2f0fa;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: lighter;
}
.item_form {
  background-color: #d2f0fa;
  border: #d2f0fa;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}
.contact_form_fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

/* footer */
.footer {
  background-color: #d2f0fa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0%;
  margin: 0%;
}
.footer a {
  color: #000;
}
.footer ul {
  padding: 0%;
}
.footer_left {
  display: flex;
  flex-basis: 45%;
}
.directory ul {
  display: flex;
  flex-direction: column;
}
.directory a {
  display: block;
  font-size: 10px;
}
.footer_right {
  display: flex;
  flex-basis: 45%;
  justify-content: flex-end;
}
.socials ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.socials_top,
.socials_bottom {
  display: flex;
  flex-wrap: nowrap;
}
.fa-brands {
  display: flex;
  font-size: 30px;
  padding: 2vw;
}
.footer_middle {
  display: flex;
  flex-basis: 100%;
  font-size: 7px;
  justify-content: center;
}

/* button */

.button {
  background-color: #000;
  border: 2px solid #ff82a5;
  color: #ff82a5;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 10px;
  display: flex;
  max-width: 100%;
}
